<div class="top-container">

<article>
<div class="banner">ここにバナーを入れる</div>
<div class="book-list">

    <div class="entry">
    <h2>最近登録した本</h2>

    <p>本タイトル</p>
    <p>本画像</p>
    <p>著者</p>
    <p>出版社</p>
    <span>ジャンル１</span><span>ジャンル２</span><span>ジャンル３</span>
    <p>本感想</p>
    
    <p>本タイトル</p>
    <p>本画像</p>
    <p>著者</p>
    <p>出版社</p>
    <span>ジャンル１</span><span>ジャンル２</span><span>ジャンル３</span>
    <p>本感想</p>

    <p>本タイトル</p>
    <p>本画像</p>
    <p>著者</p>
    <p>出版社</p>
    <span>ジャンル１</span><span>ジャンル２</span><span>ジャンル３</span>
    <p>本感想</p>

    <p>本タイトル</p>
    <p>本画像</p>
    <p>著者</p>
    <p>出版社</p>
    <span>ジャンル１</span><span>ジャンル２</span><span>ジャンル３</span>
    <p>本感想</p>

    <p>本タイトル</p>
    <p>本画像</p>
    <p>著者</p>
    <p>出版社</p>
    <span>ジャンル１</span><span>ジャンル２</span><span>ジャンル３</span>
    <p>本感想</p>

    </div>

    <div class="browse">
    <h2>閲覧回数が多い本（ができれば面白い）</h2>

    <p>本タイトル</p>
    <p>本画像</p>
    <p>著者</p>
    <p>出版社</p>
    <span>ジャンル１</span><span>ジャンル２</span><span>ジャンル３</span>
    <p>本感想</p>

    <p>本タイトル</p>
    <p>本画像</p>
    <p>著者</p>
    <p>出版社</p>
    <span>ジャンル１</span><span>ジャンル２</span><span>ジャンル３</span>
    <p>本感想</p>
    </div>

</div>

</article>

<aside>
    <a>アマゾン</a>
    <a>楽天Ｋｏｂｏ</a>

</aside>


</div>