// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-container {
    width: 100%;
    display: flex;
}

article {
    width: 80%;
    text-align: center;
}

aside {
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    background-color: whitesmoke;
}